* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

button {
  outline: none;
}

.nav {
  display: block;
  width: 100vw;
  height: 100px;
  padding: 0 5% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.nav .nav__logo {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 3px;
}

.nav .nav__link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding: 10px;
  margin: 0 5px;
}

.hero {
  display: block;
  height: 58vw;
  width: 100vw;
}

.hero .hero__greybox {
  width: 100vw;
  height: clamp(300px, 50vw, 900px);
  margin-top: 10vh;
  background-color: #f4f4f4;
}

.hero .hero__img {
  position: absolute;
  top: 20vh;
  -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
  max-width: clamp(400px, 70vw, 1300px);
}

.hero .hero__title {
  position: absolute;
  left: 55vw;
  top: 30vh;
  z-index: 1;
  font-size: clamp(1rem, 5vw, 4rem);
  font-weight: 300;
}

.hero .hero__title .title-3 {
  font-size: clamp(2rem, 5vw, 8rem);
  font-weight: 500;
  border-bottom: 0.5vw solid black;
}

.signature {
  width: 100vw;
  height: 35vh;
  text-align: center;
  padding: 0 15vw;
}

.signature .signature__title {
  font-size: clamp(1.6rem, 4vw, 3rem);
  font-weight: 300;
}

.signature .signature__paragraph {
  width: clamp(200px, 60vw, 800px);
  margin: 40px auto;
  font-weight: 300;
  font-size: clamp(0.8rem, 2vw, 1.4rem);
}

.signature .signature__sign {
  margin-top: 40px;
  font-size: clamp(1.4rem, 3vw, 2.4rem);
  font-weight: 200;
  font-style: italic;
}

.project {
  position: relative;
  background-color: #fbfafa;
}

.project .project__img {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  margin-left: 12vw;
  width: 26vw;
}

.project .project__textbox {
  width: 30vw;
  position: absolute;
  top: 8vw;
  left: 48vw;
}

.project .project__title {
  font-size: clamp(1.3rem, 3vw, 3rem);
  font-weight: 300;
}

.project .project__description {
  font-size: clamp(0.8rem, 1.6vw, 1.4rem);
  margin-top: 20px;
  font-weight: 300;
  word-spacing: 5px;
}

.project .project__button {
  position: relative;
  margin-top: 20px;
  width: clamp(60px, 40%, 140px);
  height: 20px;
  font-size: clamp(0.6rem, 1.6vw, 1.2rem);
  font-weight: 500;
  letter-spacing: 1px;
  background: none;
  color: #3a3a3a;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.project .project__button:before {
  content: "";
  position: absolute;
  bottom: -10px;
  margin: auto;
  width: 0px;
  height: 3px;
  background-color: black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.project .project__button.project__button:hover:before {
  width: 72%;
}

.project .project__button:hover {
  color: black;
}

.projects {
  margin-top: 50px;
}

.projects :nth-of-type(even) {
  background-color: #fff;
}

.projects :nth-of-type(even) .project__img {
  margin-left: 60vw;
}

.projects :nth-of-type(even) .project__textbox {
  text-align: right;
  left: 22%;
}

.team {
  width: 100vw;
  height: 80vh;
  position: relative;
}

.team .team__img {
  position: absolute;
  right: 0;
  top: 8vw;
  width: 55%;
  -webkit-filter: grayscale(0.4);
          filter: grayscale(0.4);
}

.team .team__textbox {
  position: absolute;
  top: 12vw;
  left: 10%;
  width: 45%;
}

.team .team__textbox .team__header {
  font-size: clamp(1.6rem, 4vw, 3.6rem);
  font-weight: 300;
}

.team .team__textbox .team__header span {
  font-weight: 500;
}

.team .team__textbox .team__paragraph {
  position: absolute;
  display: block;
  width: 50vw;
  left: -20%;
  font-size: clamp(0.6rem, 1.6vw, 1.4rem);
  font-weight: 300;
  background-color: #f4f4f4;
  padding: 2vw 4vw;
  margin-top: 4vw;
  word-spacing: 5px;
}

.explore {
  position: relative;
  width: 100%;
  margin-top: 5vw;
}

.explore .explore__img {
  position: relative;
  width: 40vw;
  height: 22vw;
  margin-left: 5vw;
  z-index: 1;
  -webkit-filter: grayscale(0.6);
          filter: grayscale(0.6);
}

.explore .explore__greybox {
  width: 70vw;
  height: 20vw;
  position: absolute;
  top: 20%;
  left: 0;
  background-color: #f4f4f4;
}

.explore .explore__greybox .explore__textbox {
  max-width: 300px;
  position: relative;
  left: 70%;
  top: 20%;
}

.explore .explore__greybox .explore__textbox .explore__header {
  font-size: clamp(1.2rem, 2.4vw, 3rem);
  font-weight: 300;
}

.explore .explore__greybox .explore__textbox .explore__button {
  position: relative;
  margin-top: 2vw;
  padding: 1% 4%;
  font-size: clamp(0.8rem, 1.6vw, 1.2rem);
  font-weight: 500;
  letter-spacing: 1px;
  background: none;
  color: #3a3a3a;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.explore .explore__greybox .explore__textbox .explore__button:before {
  content: "";
  position: absolute;
  bottom: -5px;
  margin: auto;
  width: 0px;
  height: 3px;
  background-color: black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.explore .explore__greybox .explore__textbox .explore__button.explore__button:hover:before {
  width: 80%;
}

.explore .explore__greybox .explore__textbox .explore__button:hover {
  color: black;
}

.contact {
  width: 100%;
  height: 200px;
  margin-top: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contact .contact__box {
  position: relative;
  padding: 2% 6% 1%;
}

.contact .contact__header {
  font-size: clamp(1.6rem, 3vw, 3rem);
  font-weight: 300;
  margin: 10px 0 10px;
  padding: 10px 20px;
}

.contact .contact__header span {
  font-weight: 500;
}

.contact .contact__button {
  position: relative;
  font-size: clamp(0.8rem, 1.6vw, 1.2rem);
  font-weight: 500;
  padding: 8px 20px;
  letter-spacing: 1px;
  background: none;
  color: #3a3a3a;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact .contact__button:before {
  content: "";
  position: absolute;
  bottom: -2px;
  margin: auto;
  width: 0px;
  height: 3px;
  background-color: black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact .contact__button:hover:before {
  width: 95px;
  color: black;
}

.contact .contact__button:hover {
  color: black;
}

.footer {
  width: 100vw;
  height: 10vw;
  max-height: 150px;
  margin-top: 8vw;
  background-color: #2f2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #f0f0f0;
}

.footer .footer__logo {
  font-size: clamp(1.2rem, 2.4vw, 2rem);
  font-weight: 400;
  letter-spacing: 3px;
}

.footer .footer__title {
  font-size: clamp(0.9rem, 1.8vw, 1.4rem);
  font-weight: 600;
  margin-bottom: 3%;
}

.footer .footer__paragraph {
  font-size: clamp(0.7rem, 1.2vw, 1.1rem);
  font-weight: 400;
  line-height: 20px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  width: 60px;
  height: 60px;
  right: 30px;
  z-index: 2000;
  font-size: 40px;
  border: none;
  outline: none;
  background-color: rgba(95, 95, 95, 0.74);
  color: white;
  cursor: pointer;
  padding: 0px 18px;
  border-radius: 60%;
}

#myBtn:hover {
  background-color: #555;
}

#loader__container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #d1d0d0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: display 0.5s ease;
  transition: display 0.5s ease;
}

.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
  top: 50%;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@media (max-width: 1300px) {
  .team {
    height: 60vh;
  }
}

@media (max-width: 1100px) {
  .hero__title {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
  .signature {
    height: 300px;
    padding-top: 30px;
  }
  .team {
    height: 50vw;
  }
}
/*# sourceMappingURL=style.css.map */