$lightgrey: #FBFAFA;
$darkgrey: #F4F4F4;
$fontcolor: black;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
}

button{
    outline: none;
}

.nav{
    display: block;
    width: 100vw;
    height: 100px;
    padding: 0 5% 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    .nav__logo{
       font-size: 1.8rem;
       font-weight: 400;
       letter-spacing: 3px;
    }

    .nav__link{
        text-decoration: none;
        color: $fontcolor;
        font-size: 1.2rem;
        padding: 10px;
        margin: 0 5px;
    }
}

.hero{
    display: block;
    height: 58vw;
    width: 100vw;

    .hero__greybox{
        width: 100vw;
        height: clamp(300px, 50vw, 900px);
        margin-top: 10vh;
        background-color: $darkgrey;
    }

    .hero__img{
        position: absolute;
        top: 20vh;
        transform: translateY(-10vh);
        max-width: clamp(400px, 70vw, 1300px);
    }

    .hero__title{
        position: absolute;
        left: 55vw;
        top: 30vh;
        z-index: 1;

        font-size: clamp(1rem,5vw,4rem);
        font-weight: 300;
        
        .title-3{
            font-size: clamp(2rem,5vw,8rem);
            font-weight: 500;
            border-bottom: .5vw solid black;
        }
    }
}

.signature{
    width: 100vw;
    height: 35vh;
    text-align: center;
    padding: 0 15vw;

    .signature__title{
        font-size: clamp(1.6rem,4vw,3rem);
        font-weight: 300;
    }

    .signature__paragraph{
        width: clamp(200px,60vw,800px);
        margin:40px auto;
        font-weight: 300;
        font-size: clamp(.8rem,2vw,1.4rem);
    }

    .signature__sign{
        margin-top: 40px;
        font-size: clamp(1.4rem,3vw,2.4rem);
        font-weight: 200;
        font-style: italic;
    }
}


.project{
    position: relative;
    background-color: $lightgrey;

    .project__img{
        transform: translateY(-50px);
        margin-left: 12vw;
        width: 26vw;
    }

    .project__textbox{
        width: 30vw;
        position: absolute;
        top: 8vw;
        left: 48vw;
    }

    .project__title{
        font-size: clamp(1.3rem,3vw,3rem);
        font-weight: 300;
    }

    .project__description{
        font-size: clamp(.8rem,1.6vw,1.4rem);
        margin-top: 20px;
        font-weight: 300;
        word-spacing: 5px;
    }

    // .project__button{
    //     position: relative;
    //     margin-top: 20px;
    //     width: clamp(60px,40%,140px);
    //     height: 20px;
    //     font-size: clamp(.6rem,1.6vw,1.2rem);
    //     font-weight: 500;
    //     letter-spacing: 1px;
    //     background: none;
    //     color: rgb(58, 58, 58);
    //     border: none;
    //     cursor: pointer;
    //     transition: all .5s ease;

    //     &:before{
    //         content: '';
    //         position: absolute;
    //         bottom: -10px;
    //         margin: auto;
    //         width: 0px;
    //         height: 3px;
    //         background-color: black;
    //         transition: all .5s ease;
    //     }

    //     &.project__button:hover:before{
    //         width: 72%;
    //     }

    //     &:hover{
    //         color: black;
    //     }
    // }

}

.projects{
    margin-top: 50px;
    & :nth-of-type(even){
        background-color: #fff;
        
        & .project__img{
            margin-left: 60vw;
        }

        & .project__textbox{
            text-align: right;
            left: 22%;
        }

    }
}


.team{
    width: 100vw;
    height: 80vh;
    position: relative;

    .team__img{
        position: absolute;
        right: 0;
        top: 8vw;
        width: 55%;
        filter: grayscale(.4);
    }

    .team__textbox{
        position: absolute;
        top: 12vw;
        left: 10%;
        width: 45%;

        .team__header{
            font-size: clamp(1.6rem,4vw,3.6rem);
            font-weight: 300;
    
            span{
                font-weight: 500;
            }
        }
        
        .team__paragraph{
            position: absolute;
            display: block;
            width: 50vw;
            left: -20%;
            font-size: clamp(.6rem,1.6vw, 1.4rem);
            font-weight: 300;
            background-color: $darkgrey;
            padding: 2vw 4vw;
            margin-top: 4vw;
            word-spacing: 5px;
        }
    }
}

.explore{
    position: relative;
    width: 100%;
    margin-top: 5vw;

    .explore__img{
        position: relative;
        width: 40vw;
        height: 22vw;
        margin-left: 5vw;
        z-index: 1;
        filter: grayscale(.6);
    }

    .explore__greybox{
        width: 70vw;
        height: 20vw;
        position: absolute;
        top: 20%;
        left: 0;
        background-color: $darkgrey;

        .explore__textbox{
            max-width: 300px;
            position: relative;
            left: 70%;
            top: 20%;

            .explore__header{
                font-size: clamp(1.2rem,2.4vw,3rem);
                font-weight: 300;
            }

            .explore__button{
                position: relative;
                margin-top: 2vw;
                padding: 1% 4%;
                font-size: clamp(.8rem,1.6vw,1.2rem);
                font-weight: 500;
                letter-spacing: 1px;
                background: none;
                color: rgb(58, 58, 58);
                border: none;
                cursor: pointer;
                transition: all .5s ease;
        
                &:before{
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    margin: auto;
                    width: 0px;
                    height: 3px;
                    background-color: black;
                    transition: all .5s ease;
                }
        
                &.explore__button:hover:before{
                    width: 80%;
                }
        
                &:hover{
                    color: black;
                }
            }
        }
    }
}

.contact{
   width: 100%;
   height: 200px;
   margin-top: 8vw;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   
.contact__box{
    position: relative;
    padding: 2% 6% 1%;
}
   .contact__header{
    font-size: clamp(1.6rem,3vw,3rem);
    font-weight: 300;
    margin: 10px 0 10px;
    padding: 10px 20px;

    span{
        font-weight: 500;
    }
   }

   .contact__button{
    position: relative;
    font-size: clamp(.8rem,1.6vw,1.2rem);
    font-weight: 500;
    padding: 8px 20px;;
    letter-spacing: 1px;
    background:none;
    color: rgb(58, 58, 58);
    border: none;
    cursor: pointer;
    transition: all .5s ease;

    &:before{
        content: '';
        position: absolute;
        bottom: -2px;
        margin: auto;
        width: 0px;
        height: 3px;
        background-color: black;
        transition: all .5s ease;
    }

    &:hover:before{
        width: 95px;
        color: black;
    }

    &:hover{
        color: black;
    }
    }
}

.footer{
    width: 100vw;
    height: 10vw;
    max-height: 150px;
    margin-top: 8vw;
    background-color: rgb(47, 47, 47);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: rgb(240, 240, 240);

    .footer__logo{
        font-size: clamp(1.2rem,3vw,2.6rem);
       font-weight: 400;
       letter-spacing: 3px;
    }

    .footer__title{
        font-size: clamp(.9rem,2vw,1.4rem);
        font-weight: 600;
        margin-bottom: 3%;
    }

    .footer__paragraph{
        font-size: clamp(.7rem,1.4vw,1.1rem);
        font-weight: 400;
        line-height: 1.4vw;
    }
}


@media (max-width: 1300px){
    .team{
        height: 60vh;
    }
    

}

@media (max-width: 1100px){
    .hero__title{
        transform: translateY(-10vh);;
    }

    .signature{
        height: 300px;
        padding-top: 30px;
    }

    .team{
        height: 50vw;
    }
  }
